<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
		<link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> BikeMonitor </title>
	</head>

	<body>
		<div id="NW">
			<div id="weather">
			</div>
			<div id="weatherDescription">
			</div>
		</div>
		<div id="NE">
		</div>
		<div id="SW">
		</div>
		<div id="SE">
		</div>


		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='js/weather.js') }}"></script>
	</body>


</html>